[Unit]
Description=demo fastapi application ubuntu server gunicorn instance
After=network.target

[Service]
User=lfopa
Group=lfopa
WorkingDirectory=/home/lfopa/app/src
Environment="PATH=/home/lfopa/app/venv/bin"
EnvironmentFile=/home/lfopa/.env
ExecStart=/home/lfopa/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target